.delivery {
    width: 100%;
    height: 390px;
    display: flex;
    position: relative;

    &-bg {
        position: absolute;
        width: 100vw;
        height: 289px;
        background: #F0F0F0;
        z-index: -2;
        left: calc(-1*((100vw - 100%) / 2));
        top: 102px;
    }
}

.delivery-left {
    width: 280px;

    &-list {
        position: relative;
        padding-top: 73px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-list::before {
        position: absolute;
        content: "";
        top: 5px;
        right: 0px;
        width: 7px;
        height: 319px;
        background-color: $color-text-main;
    }

    &-item {
        width: 100%;
    }

    &-nav {
        @include button-main(160px, 40px);

        height: 40px;

        &:hover,
        &.active {
            color: $color-bg;
            background: $color-text-main;
            width: 100%;
            text-align: left;
            padding-left: 15px;
        }
    }
}

.delivery-right {
    width: 880px;
    padding-left: 116px;

    &__tab-content {
        display: none;

        &.active {
            display: block;
        }
    }

    &-menu {
        width: 680px;

        &__wrapper {
            display: flex;
        }
    }

    &-main {
        font-family: $font-raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 50px;
        color: $color-text-main;
        padding-top: 73px;
        padding-bottom: 34px;
    }

    &-text {
        font-family: $font-rubic;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $color-text-desc;
    }

    &-icon {
        width: 200px;

        &-img {
            padding-top: 77px;
            padding-right: 63px;
        }
    }
}


.delivery-rare {
    display: flex;
    width: 1160px;
    height: 100px;
    background: #F0F0F0;
    margin-top: 70px;
    margin-bottom: 70px;

    &-car {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        background-color: $color-bg;
    }

    &-text {
        width: 910px;
        height: 20px;
        font-family: $font-raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $color-text-main;
        padding-top: 40px;
    }

    &-icon {
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-border {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background: rgba(220, 220, 220, 0.5);
        padding-top: 13px;
    }
}