body {
    background-color: rgb(33, 31, 31);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(media/background.png);
}

.img-logo {
    width: 150px;
    height: 80px;
}

.head {
    color: rgb(118, 76, 31);
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.navigation-item {
    border: 1px solid #fff transparent;
    border-radius: 5px;
    margin-right: 30px;
    background: linear-gradient(to right, rgb(37, 37, 37), 80%, rgb(122, 120, 120));
}

.navigation-link {
    text-decoration: none;
    color: orangered;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 100px;
    background-color: rgb(19, 18, 18);
}

.film-one {
    background-image: url(media/незнакомец.jpeg);
    padding: 40px 40px;
}

.film-name {
    font-size: 43px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.film-size {
    padding-top: 20px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 1px #000;
}

.film-list {
    display: flex;
    gap: 15px;
    padding: 10px 10px 10px 0;
}

.film-item {
    list-style-type: none;
    color: #fff;
}

.film-text {
    color: #fff;
}

.film-nav-list {
    display: flex;
    gap: 15px;
    padding-top: 15px;
}

.film-nav-item {
    list-style-type: none;
    border: 1px solid #ccc transparent;
    border-radius: 5px;
    padding: 15px;
    background: linear-gradient(to right, rgb(37, 37, 37), 80%, rgb(122, 120, 120));
}

.film-nav-link {
    text-decoration: none;
    color: #fff;
}

.film-nav-item:first-child {
    background: linear-gradient(to right, blue, 60%, rgb(179, 190, 248));
}

.recommendations {
    padding-top: 50px;
    padding-bottom: 50px;
}

.recommendations-text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 25px;
}

.recommendations-list {
    display: flex;
    justify-content: space-around;
}

.recommendations-item {
    list-style-type: none;
    color: #fff;
    width: 200px;
}

.wrapper-img {
    width: 200px;
    height: 200px;
}

.img-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film-two {
    width: 100%;
    height: 300px;
    border: #fff transparent;
    border-radius: 5px;
    background-image: url(media/космос.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 400px;
    padding: 50px 70px;
}

.film-bottom {
    padding-top: 25px;
}

.film-link {
    text-decoration: none;
    color: #fff;
    border: #fff transparent;
    border-radius: 5px;
    padding: 15px;
    background: linear-gradient(to right, rgb(37, 37, 37), 80%, rgb(122, 120, 120));
}

.film-week {
    width: 150px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border: #fff transparent;
    border-radius: 35px;
    padding: 7px;
    background: linear-gradient(to right, rgb(255, 115, 0), 50%, rgb(247, 190, 111));
    color: #fff;
}

.film-description-name {
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    padding-top: 15px;
}

.film-price {
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
}

.bold {
    font-weight: bolder;
}

.film-three {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
    color: #fff;
}

.description-list {
    display: flex;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.description-link {
    text-decoration: none;
    color: rgb(120, 119, 119);
}

.description-link:hover {
    color: #fff;
    border-bottom: 3px solid rgb(94, 94, 222);
}

.text-up {
    padding-top: 30px;
}

.img-general {
    padding-bottom: 30px;
}

.general-sleep {
    width: 550px;
    height: 340px;
}

.title-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 550px;
}

.title-sleep {
    width: 260px;
    height: 120px;
}