<div class="container">
    <div class="about-contacts">
        <div class="about">
            <h2 class="about-main">О нас</h2>
            <div class="contacts-block">
                <div class="contacts-row">
                    <p class="about-text">Огромный выбор гаджетов не оставит равнодушным<br>гика, который есть в каждом из
                        нас.
                    </p>
                </div>

                <div class="contacts-row">
                    <p class="about-text">Мы можем доставить ваш товар в самые отдалённые<br>уголки России
                        транспортными
                        компаниями:</p>
                </div>

                <div class="contacts-row">
                    <ul class="about-list">
                        <li class="about-item">
                            <img class="dots-img" src="images/dots.svg">
                            <a class="about-item-nav">Меловые линии</a>
                        </li>
                        <li class="about-item">
                            <img class="dots-img" src="images/dots.svg">
                            <a class="about-item-nav">СДИК</a>
                        </li>
                        <li class="about-item">
                            <img class="dots-img" src="images/dots.svg">
                            <a class="about-item-nav">ТоксБерри</a>
                        </li>
                    </ul>
                </div>

                <div class="contacts-row">
                    <a class="about-nav" href="">Подробнее о нас</a>
                </div>
            </div>
        </div>
        <div class="contacts">
            <h2 class="contacts-main">Контакты</h2>
            <div class="contacts-block">
                <div class="contacts-row">
                    <p class="contacts-text">Вы можете забрать товар сами, заехав в наш офис.<br>Заодно сможете проверить
                        работоспособность
                        покупки.</p>
                </div>

                <div class="contacts-row">
                    <h4 class="contacts-title">Интернет-магазин "Девайс"</h4>
                    <p class="contacts-text">Санкт-Петербург, набережная реки Карповки, 5, литера П.</p>
                    <a class="contacts-tel-nav" href="tel:+78128121212">+7 (812) 812-12-12</a>
                </div>

                <div class="contacts-row">
                    <h4 class="contacts-title">Время работы</h4>
                    <p class="contacts-text">пн—пт: с 10:00 до 22:00 <br> сб—вс: с 10:00 до 19:00</p>
                </div>

                <div class="contacts-row">
                    <a class="contacts-nav" href="">Напишите нам</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscription">
    <div class="container">
        <div class="subscription-up">
            <h3 class="subscription-up-main">Подпишитесь<br>на рассылку</h3>
            <p class="subscription-up-text">Еженедельный дайджест с обзорами новинок,<br>длительными тест-драйвами,
                распаковками, а также
                акции,
                <br>спецпредложения и вот это вот всё.
            </p>
        </div>
        <div class="subscription-down">
            <div class="subscription-down-form">
                <div class="subscription-down-form__input-wrapper">
                    <input type="text" class="subscription-down-form__input" placeholder="Ваш e-mail" name="mail" required>
                </div>
                <button type="submit" class="subscription-down-form__submit">Подписаться</button>
            </div>

            <div class="subscription-down-okey">
                <img class="subscription-down-okey-img" src="images/okey.svg">
                <p class="subscription-down-okey-text">Это бесплатно</p>
            </div>
        </div>
    </div>
</div>