<div class="about-contacts">
    <div class="about">
        <h2 class="about-main">О нас</h2>
        <p class="about-text">Огромный выбор гаджетов не оставит равнодушным<br>гика, который есть в каждом из
            нас.
        </p>
        <p class="about-text">Мы можем доставить ваш товар в самые отдалённые<br>уголки России
            транспортными
            компаниями:</p>
        <ul class="about-list">
            <li class="about-item">
                <a class="about-item-nav">Меловые линии</a>
            </li>
            <li class="about-item">
                <a class="about-item-nav">СДИК</a>
            </li>
            <li class="about-item">
                <a class="about-item-nav">ТоксБерри</a>
            </li>
        </ul>
        <a class="about-nav" href="">Подробнее о нас</a>
    </div>
    <div class="contacts">
        <h2 class="cotacts-main">Контакты</h2>
        <p class="cotacts-text">Вы можете забрать товар сами, заехав в наш офис.<br>Заодно сможете проверить
            работоспособность
            покупки.</p>
        <h4 class="cotacts-title">Интернет-магазин "Девайс"</h4>
        <p class="cotacts-text">Санкт-Петербург, набережная реки Карповки, 5, литера П.</p>
        <a class="cotacts-nav" href="">+7 (812) 812-12-12</a>
        <h4 class="cotacts-title">Время работы</h4>
        <p class="cotacts-text">пн—пт: с 10:00 до 22:00 <br> сб—вс: с 10:00 до 19:00</p>
        <a class="cotacts-nav" href="">Напишите нам</a>
    </div>
</div>
<div class="subscription">
    <h3 class="subscription-main">Подпишитесь<br>на рассылку</h3>
    <p class="subscription-text">Еженедельный дайджест с обзорами новинок,<br>длительными тест-драйвами,
        распаковками, а также
        акции,
        <br>спецпредложения и вот это вот всё.
    </p>
    <form class="subscription-form">
        <input type="text" placeholder="Ваш e-mail" name="mail" required>
        <input type="submit" value="Подписаться">
    </form>
    <p class="subscription-text">Это бесплатно</p>
</div>