<div class="category-wrapper">
    <ul class="category-list">
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper" src="images/vert.svg" alt=" Виртуальная реальность">
            </div>
            <p  class="text-category">Виртуальная реальность</p>
        </li>
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper img-mono"src="images/mono.svg" alt=" Моноподы для селфи">
            </div>
            <p  class="text-category">Моноподы для селфи</p>
        </li>
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper"src="images/photo.svg" alt=" Экшн-камеры">
            </div>
            <p  class="text-category">Экшн-камеры</p>
        </li>
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper"src="images/watch.svg" alt=" Фитнес-браслеты">
            </div>
            <p  class="text-category">Фитнес-браслеты</p>
        </li>
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper"src="images/smart.svg" alt=" Умные часы">
            </div>
            <p  class="text-category">Умные часы</p>
        </li>
        <li class="category-item">
            <div class="img-category-wrapper">
                <img class="img-wrapper"src="images/dron.svg" alt=" Квадрокоптеры">
            </div>
            <p  class="text-category">Квадрокоптеры</p>
        </li>
    </ul>
</div>