<div class="category-container">
    <ul class="category-list">
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img" src="images/vert.svg" alt=" Виртуальная реальность">
            </div>
            <p  class="category-list-text">Виртуальная реальность</p>
        </li>
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img category-list-mono"src="images/mono.svg" alt=" Моноподы для селфи">
            </div>
            <p  class="category-list-text">Моноподы для селфи</p>
        </li>
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img"src="images/photo.svg" alt=" Экшн-камеры">
            </div>
            <p  class="category-list-text">Экшн-камеры</p>
        </li>
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img"src="images/watch.svg" alt=" Фитнес-браслеты">
            </div>
            <p  class="category-list-text">Фитнес-браслеты</p>
        </li>
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img"src="images/smart.svg" alt=" Умные часы">
            </div>
            <p  class="category-list-text">Умные часы</p>
        </li>
        <li class="category-list-item">
            <div class="category-list-wrapper">
                <img class="category-list-img"src="images/dron.svg" alt=" Квадрокоптеры">
            </div>
            <p  class="category-list-text">Квадрокоптеры</p>
        </li>
    </ul>
</div>