<div class="delivery">
    <div class="delivery-left">
        <ul class="delivery-left-list">
            <li class="delivery-left-item">
                <a class="delivery-left-nav active" href="#delivery-info-1">Доставка</a>
            </li>
            <li class="delivery-left-item">
                <a class="delivery-left-nav" href="#delivery-info-2">Гарантия</a>
            </li>
            <li class="delivery-left-item">
                <a class="delivery-left-nav" href="#delivery-info-3">Кредит</a>
            </li>
        </ul>
    </div>
    <div class="delivery-right">
        <div class="delivery-right__tab-content active" id="delivery-info-1">
            <div class="delivery-right-menu__wrapper">
                <div class="delivery-right-menu">
                    <h3 class="delivery-right-main">Доставка</h3>
                    <p class="delivery-right-text">Мы с удовольствием доставим ваш товар прямо
                        <br>к вашему подъезду совершенно бесплатно! Ведь
                        <br>мы неплохо заработаем, поднимая его на ваш этаж.
                    </p>
                </div>
                <div class="delivery-right-icon">
                    <img class="delivery-right-img" src="images/people.svg">
                </div>
            </div>
        </div>
        <div class="delivery-right__tab-content" id="delivery-info-2">
            <div class="delivery-right-menu__wrapper">
                <div class="delivery-right-menu">
                    <h3 class="delivery-right-main">Гарантия</h3>
                    <p class="delivery-right-text">Мы с удовольствием доставим ваш товар прямо
                        <br>к вашему подъезду совершенно бесплатно! Ведь
                        <br>мы неплохо заработаем, поднимая его на ваш этаж.
                    </p>
                </div>
                <div class="delivery-right-icon">
                    <img class="delivery-right-img" src="images/people.svg">
                </div>
            </div>
        </div>
        <div class="delivery-right__tab-content" id="delivery-info-3">
            <div class="delivery-right-menu__wrapper">
                <div class="delivery-right-menu">
                    <h3 class="delivery-right-main">Кредит</h3>
                    <p class="delivery-right-text">Мы с удовольствием доставим ваш товар прямо
                        <br>к вашему подъезду совершенно бесплатно! Ведь
                        <br>мы неплохо заработаем, поднимая его на ваш этаж.
                    </p>
                </div>
                <div class="delivery-right-icon">
                    <img class="delivery-right-img" src="images/people.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="delivery-bg"></div>
</div>
<div class="delivery-rare">
    <div class="delivery-rare-car">
        <img class="delivery-rare-img" src="images/car.svg">
    </div>
    <div class="delivery-rare-text">
        Доставим редкий товар под заказ
    </div>
    <div class="delivery-rare-icon">
        <p class="delivery-rare-border">i</p>
    </div>
</div>