<div class="delivery">
    <div class="delivery-left">
        <ul class="delivery-list">
            <li class="delivery-item">
                <a class="delivery-nav" href="">Доставка</a>
            </li>
            <li class="delivery-item">
                <a class="delivery-nav" href="">Гарантия</a>
            </li>
            <li class="delivery-item">
                <a class="delivery-nav" href="">Кредит</a>
            </li>
        </ul>
    </div>
    <div class="delivery-right">
        <div class="delivery-menu">
            <h3 class="delivery-main">Доставка</h3>
            <p class="delivery-text">Мы с удовольствием доставим ваш товар прямо
                <br>к вашему подъезду совершенно бесплатно! Ведь
                <br>мы неплохо заработаем, поднимая его на ваш этаж.
            </p>
        </div>
        <div class="delivery-icon">
            <img class="img-people" src="images/people.png">
        </div>
    </div>
</div>
<div class="background-block"></div>
<div class="delivery-rare">
    <div class="rare-car">
        <img class="img-car" src="images/car.png">
    </div>
    <div class="rare-text">
        Доставим редкий товар под заказ
    </div>
    <div class="rare-icon">
        <p class="rare-border">i</p>
    </div>
</div>