<footer class="footer">
    <div class="container">
        <a href="/" class="footer-logo">
            <img class="footer-img" src="images/logo-footer.svg" alt="logo">
        </a>
        <div class="footer-up">
            <div class="footer-up-text">Санкт-Петербург, набережная<br>реки Карповки, 5, литера П.</div>
            <div class="footer-up-list">
                <div class="footer-up-item">
                    <a class="footer-up-nav" href="#">Доставка</a>
                </div>
                <div class="footer-up-item">
                    <a class="footer-up-nav" href="#">Гарантия</a>
                </div>
                <div class="footer-up-item">
                    <a class="footer-up-nav" href="#">Контакты</a>
                </div>
            </div>
            <div class="footer-up-text">
                <a class="footer-up-text-nav" href="tel:+78128121212">Тел.: +7 (812) 812-12-12</a>
            </div>
        </div>
        <div class="footer-down">
            <div class="footer-down-line"></div>
            <div class="footer-down-list">
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/facebook.svg" alt="facebook">
                    </a>
                </div>
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/instagram.svg" alt="instagram">
                    </a>
                </div>
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/twitter.svg" alt="twitter">
                    </a>
                </div>
            </div>
            <div class="footer-down-line"></div>
        </div>
    </div>
</footer>