<footer class="footer-main">
    <div class="footer-wrapper">
        <a href="/" class="footer-logo">
            <img src="images/logo-footer.svg" alt="logo">
        </a>
        <div class="footer-up">
            <div class="footer-text">Санкт-Петербург, набережная<br>реки Карповки, 5, литера П.</div>
            <div class="footer-list">
                <div class="footer-nav">
                    <a class="nav-element" href="#">Доставка</a>
                </div>
                <div class="footer-nav">
                    <a class="nav-element" href="#">Гарантия</a>
                </div>
                <div class="footer-nav">
                    <a class="nav-element" href="#">Контакты</a>
                </div>
            </div>
            <div class="footer-text">
                <a class="footer-nav-text" href="#">Тел.: +7 (812) 812-12-12</a>
            </div>
        </div>
        <div class="footer-down">
            <div class="footer-down-img">
                <a href="#" class="footer-line-img">
                    <img src="images/line.svg">
                </a>
            </div>
            <div class="footer-list">
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/facebook.svg" alt="facebook">
                    </a>
                </div>
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/instagram.svg" alt="instagram">
                    </a>
                </div>
                <div class="footer-nav-item">
                    <a href="#" class="footer-img">
                        <img src="images/twitter.svg" alt="twitter">
                    </a>
                </div>
            </div>
            <div class="footer-down-img">
                <a href="#" class="footer-img-text">
                    <img src="images/htmlacademy.svg" alt="html">
                </a>
            </div>
        </div>
    </div>
</footer>