<header class="header">
  <a href="/" class="header-logo">
    <img src="images/logo.svg" alt="logo">
  </a>
  <div class="header-top">
    <div class="header-form">
      <div class="header-form__input-wrapper">
        <input type="text" class="header-form__input" placeholder="Текст поиска">
        <span class="header-form__input-icon icon-search"></span>
      </div>
      <button type="submit" class="header-form__submit">Найти</button>
    </div>
    <div class="header-top-list header-top__list">
      <a href="#" class="header-top-list__link login">
        <span class="header-top-list__icon icon-login"></span>
        Войти
      </a>
      <a href="#" class="header-top-list__link">
        <span class="header-top-list__icon icon-compare"></span>
        Сравнить
      </a>
      <a href="#" class="header-top-list__link">
        <span class="header-top-list__icon icon-cart"></span>
        Корзина
      </a>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom-catalog header-bottom-button">
      Каталог товаров
      <span class="header-bottom-catalog__icon">
        <span class="icon-plus"></span>
      </span>
    </div>
    <div class="header-bottom-list">
      <a href="#" class="header-bottom-button header-bottom-list__link">Доставка</a>
      <a href="#" class="header-bottom-button header-bottom-list__link">Гарантия</a>
      <a href="#" class="header-bottom-button header-bottom-list__link">Контакты</a>
    </div>
  </div>
</header>