<div class="title">
    <h3 class="title-text">Моноподы для селфи</h3>
</div>
<div class="title-menu">
    <ul class="title-menu-list">
        <li class="title-menu-item">
            <a class="title-menu-nav" href="#">Главная</a>
        </li>
        <li class="title-menu-item">
            <a class="title-menu-nav" href="#">Каталог товаров</a>
        </li>
        <li class="title-menu-item">
            <a class="title-menu-nav" href="#">Моноподы для селфи</a>
        </li>
    </ul>
</div>