<div class="slider-main">
    
<div class="foto-card">
    <img class="foto" src="" alt="Квадрокоптер">
</div>
<div class="description">
    <h2 class="description-main">Порхает как бабочка,<br>жалит как пчела!</h2>
    <p class="description-text">Этот обычный, на первый взгляд, квадрокоптер оснащен<br>
        мощным лазером, замаскированным под стандартную камеру.
    </p>
    <a class="description-nav" href="#">Подробнее</a>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="description-block">
        <ul class="block">
            <li><span class="block-size">800м</span></li>
            <li>Дальность полета</li>
        </ul>
        <ul class="block">
            <li><span class="block-size">50м</span></li>
            <li>Радиус поражения</li>
        </ul>
    </div>
</div>
</div>