<div class="slider">
    <div class="background"></div>
    <div class="slick-carousel">
        <div class="carousel-card">
            <div class="foto-wrapper">
                <img class="foto-description" src="images/slider-1.png" alt="Квадрокоптер">
            </div>
            <div class="slick-carousel-description">
                <p class="description-number">01</p>
                <p class="description-main">Порхает как бабочка,<br>жалит как пчела!</p>
                <p class="description-text">Этот обычный, на первый взгляд, квадрокоптер оснащен<br>
                    мощным лазером, замаскированным под стандартную камеру.
                </p>
                <a class="description-nav" href="#">Подробнее</a>
                <div class="description-block">
                    <ul class="block">
                        <li><span class="block-unit">800 м</span></li>
                        <li><span class="block-text">Дальность полета</span></li>
                    </ul>
                    <ul class="block">
                        <li><span class="block-unit">50 м</span></li>
                        <li><span class="block-text">Радиус поражения</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-card">
            <div class="foto-wrapper">
                <img class="foto-description" src="images/slider-1.png" alt="Квадрокоптер">
            </div>
            <div class="slick-carousel-description">
                <h3 class="description-number">02</h3>
                <h2 class="description-main">Порхает как бабочка,<br>жалит как пчела!</h2>
                <p class="description-text">Этот обычный, на первый взгляд, квадрокоптер оснащен<br>
                    мощным лазером, замаскированным под стандартную камеру.
                </p>
                <a class="description-nav" href="#">Подробнее</a>
                <div class="description-block">
                    <ul class="block">
                        <li><span class="block-unit">800 м</span></li>
                        <li><span class="block-text">Дальность полета</span></li>
                    </ul>
                    <ul class="block">
                        <li><span class="block-unit">50 м</span></li>
                        <li><span class="block-text">Радиус поражения</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-card">
            <div class="foto-wrapper">
                <img class="foto-description" src="images/slider-1.png" alt="Квадрокоптер">
            </div>
            <div class="slick-carousel-description">
                <h3 class="description-number">03</h3>
                <h2 class="description-main">Порхает как бабочка,<br>жалит как пчела!</h2>
                <p class="description-text">Этот обычный, на первый взгляд, квадрокоптер оснащен<br>
                    мощным лазером, замаскированным под стандартную камеру.
                </p>
                <a class="description-nav" href="#">Подробнее</a>
                <div class="description-block">
                    <ul class="block">
                        <li><span class="block-unit">800 м</span></li>
                        <li><span class="block-text">Дальность полета</span></li>
                    </ul>
                    <ul class="block">
                        <li><span class="block-unit">50 м</span></li>
                        <li><span class="block-text">Радиус поражения</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>