$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/icomoon" !default;

$icon-search: "\e905";
$icon-plus: "\e900";
$icon-cart: "\e901";
$icon-login: "\e902";
$icon-compare: "\e903";

