@import "base/variables";
@import "base/reset";
@import "base/font-rubic";
@import "base/font-raleway";
@import "base/mixins";
@import "base/icons";

body {
    font: 14px/1 $font-rubic;
    color: $color-text-main;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    outline: none;
    color: inherit;
}