@mixin clear-button{
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  outline: none;
  color: $color-text-main;
  cursor: pointer;
}

@mixin clear-input{
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  outline: none;
  color: $color-text-main;

  &::placeholder{
    color: $color-text-main;
  }
}