$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cross: "\e900";
$icon-cart: "\e901";
$icon-edit: "\e902";
$icon-person: "\e903";
$icon-question: "\e904";
$icon-exit: "\e905";
$icon-headphones: "\e906";
$icon-diagramma: "\e907";
$icon-home: "\e908";
$icon-wallet: "\e909";
$icon-megaphone: "\e90a";
$icon-arrow-right: "\e90b";
$icon-letter: "\e90c";

