$color-text-main: #6E6E6E;
$color-text-menu: #7D7D7D;
$color-text-secondary: #343434;
$color-text-light: #FFFFFF;
$color-bg: #F8FAFF;

$color-success: #55C97B;
$color-gray: #B1B1B1;
$color-dark: #7B7B7B;
$color-active: #6666CC;
$color-error: #E42626;

$color-placeholder: #E6E6E9;
$color-border: #D4D4D4;
