@import "_fonts";
@import "_colors";
@import "@/fonts/icomoon/style.css";

body{
  font-family: 'Roboto';
}

a{
  text-decoration: none;
  color: $color-active;

  &:hover{
    color: $color-active;
  }
}