<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-black">Главная</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-black">Мои магазины</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-black">Промоматериалы</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-black">Статистика</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline text-black">Баланс</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-black">Персональные данные</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-black">FAQ</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-black">Техподдержка</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-black">Выход</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <div class="d-flex">
                <div class="me-auto p-2 bd-highlight">
                    <div class="d-flex">
                        <a href="#" class="p-2 nav-link">Главная</a>
                        <a href="#" class="p-2 nav-link">Мои магазины</a>
                    </div>
                </div>
                <div class="p-2 bd-highlight">1</div>
                <div class="p-2 bd-highlight bg-light">Максим Добжанский</div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-success">Создать свой магазин</button>
            </div>
            <h3>Управление магазинами</h3>
            <div class="d-flex p-20 justify-content-around">
                <div>
                    <div>#</div>
                    <div>12345</div>
                    <div>12345</div>
                </div>
                <div>
                    <div>Название</div>
                    <div>Дипломная работа</div>
                    <div>Дипломная работа</div>
                </div>
                <div>
                    <div>Адрес</div>
                    <div>http://www.work5.ru/services</div>
                    <div>http://www.work5.ru/services</div>
                </div>
                <div>
                    <div>Действие</div>
                    <div>
                        <button type="button" class="btn btn-success">Редактировать</button>
                        <button type="button" class="btn btn-secondary">Редактировать</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success">Редактировать</button>
                        <button type="button" class="btn btn-secondary">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>