<!-- <div class="sidebar">
    <div class="sidebar-logo"></div>
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Главная</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Мои магазины</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Промоматериалы</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Статистика</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Баланс</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Персональные данные</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">FAQ</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Техподдержка</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
        <li class="sidebar-menu-list-item">
            <a class="sidebar-menu-list-link">Выход</a>
            <span class="sidebar-menu-list_icon icon-home"></span>
        </li>
    </ul>
</div> -->